{% extends 'base.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="form-container">
		<p class="title">Bem vindo Daniel!</p>
		<form class="form">
			   <a class="sign" href="/listar">Consultar Tudo</a><br><br>
			   <a class="sign" href="/listarIndividual">Consultar Individual</a><br><br>
			   <a class="sign" href="/atualizar">Atualizar</a><br><br>
			   <a class="sign" href="/excluir">Excluir</a><br><br>
			 </a>
		</form>
	</div>
</div>
{% endblock %}
