{% extends 'base.html' %}
{% block conteudo %}

  <img src="{{url_for('static',filename='imagens/Mustang GT 500.png')}}"  class="rounded mx-auto d-block" alt="...">


<div class="container text-center" style="margin-top: 20vh;">
    <h1>Ford Mustang GT 500 R$: 900 mil</h1><br><br>
    <div>Motor:

        Tipo: V8 supercharged Coyote
        Capacidade: 5.200 cm³
        Configuração do Motor: 90 graus, montado longitudinalmente
        Potência Máxima: 760 cavalos de potência (559 kW) a 7.300 rpm
        Torque Máximo: 847 Nm a 5.000 rpm
        Sistema de Injeção: Injeção direta de combustível
        Sistema de Admissão: Supercharger Eaton de 2.65 litros<br><br>

        Transmissão:

        Transmissão: Automática de 7 velocidades com embreagem dupla TREMEC
        Tração: Traseira com diferencial de deslizamento limitado Torsen<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo MacPherson, com amortecedores adaptativos MagneRide
        Suspensão Traseira: Suspensão independente multilink, com amortecedores adaptativos MagneRide
        Estabilidade: Controle eletrônico de estabilidade e tração, sistema de vetorização de torque eletrônico<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de 420 mm, pinças Brembo de seis pistões
        Freios Traseiros: Discos de freio ventilados de 380 mm, pinças Brembo de quatro pistões
        Sistema de Freio: Sistema antibloqueio de freio (ABS), controle eletrônico de estabilidade e tração<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 20 polegadas na frente e 20 polegadas atrás, acabamento em preto brilhante
        Pneus: Pneus de alta performance 305/30 R20 na frente e 315/30 R20 atrás<br><br>
        Dimensões:

        Comprimento: 4.794 mm
        Largura: 1.905 mm (sem espelhos retrovisores)
        Altura: 1.394 mm
        Entre Eixos: 2.720 mm
        Peso: 1.780 kg (aproximadamente)<br><br>
        Interior:

        Capacidade: 4 passageiros
        Bancos: Bancos esportivos em couro com ajustes elétricos e aquecimento
        Volante: Volante esportivo multifuncional em couro com aquecimento<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: Tela sensível ao toque de 8 polegadas com SYNC 3, sistema de som B&O de 12 alto-falantes
        Conectividade: Apple CarPlay, Android Auto, Bluetooth, Wi-Fi hotspot<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para motorista e passageiros dianteiros
        Assistência ao Motorista: Monitoramento de ponto cego, alerta de tráfego cruzado traseiro, câmera de ré, controle de cruzeiro adaptativo, assistente de permanência em faixa</div><br><br>

    <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div><br><br>

    <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>

{% endblock %}