{% extends 'base.html' %}
{% block conteudo %}
  <div class="container text-center mt-5">
    <h1>Sejam muito bem vindos!</h1>
    <p class="lead">Quer realizar o sonho de ter uma máquina potente e impressionante, mas não sabe por onde começar? A Quasar é a sua resposta! Com uma seleção impecável das melhores máquinas sobre rodas, estamos aqui para tornar o seu desejo uma realidade. De luxuosos sedãs a robustos SUVs, nossa variedade de veículos é a chave para encontrar o carro dos seus sonhos. Venha explorar nosso catálogo e embarque nessa jornada rumo ao automóvel perfeito com a Quasar.</p>
    <p>E para dar o primeiro passo em direção ao seu carro dos sonhos, clique agora mesmo no botão "Comprar" e faça parte da experiência Quasar!</p><br><br><br>

      <a class="button" href="/comprar">Comprar
      </a>



  <div class="container mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/McwoPTUkJKw?si=8wvVPYzdSDyck2wK&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock  %}