{% extends 'base.html' %}
{% block conteudo %}
<img src="{{url_for('static',filename='imagens/Agera RS One.png')}}"  class="rounded mx-auto d-block" alt="...">


  <div class="container text-center" style="margin-top: 20vh;">
    <h1>Koenigsegg Agera RS One R$: 12,5 milhões</h1><br><br>
    <div>Motor:

        Tipo: V8 twin-turbo
        Capacidade: 5.000 cm³
        Potência Máxima: 1.360 cavalos de potência (1.014 kW) a 7.800 rpm
        Torque Máximo: 1.371 Nm entre 4.000-6.500 rpm
        Sistema de Injeção: Injeção direta de combustível
        Sistema de Admissão: Turboalimentação com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática de 7 velocidades com embreagem de dupla embreagem e paddle-shift
        Tração: Traseira<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo triângulo duplo, com molas helicoidais e amortecedores Öhlins com controle eletrônico
        Suspensão Traseira: Suspensão independente, tipo triângulo duplo, com molas helicoidais e amortecedores Öhlins com controle eletrônico
        Estabilidade: Controle de estabilidade eletrônico
        Direção: Direção assistida elétrica<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de composto cerâmico de carbono de 397 mm com pinças de seis pistões
        Freios Traseiros: Discos de freio ventilados de composto cerâmico de carbono de 380 mm com pinças de quatro pistões<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 19 polegadas na frente e 20 polegadas atrás, design específico RS, com acabamento em preto brilhante
        Pneus: Pneus de alta performance<br><br>
        Dimensões:

        Comprimento: 4.293 mm
        Largura: 1.996 mm
        Altura: 1.120 mm
        Entre Eixos: 2.662 mm
        Peso: 1.395 kg (aproximadamente)<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 120 litros
        Capacidade do Tanque de Combustível: 82 litros<br><br>
        Interior:

        Capacidade: 2 passageiros
        Bancos: Bancos esportivos com revestimento em couro Alcantara
        Volante: Volante esportivo multifuncional em couro com shift paddles<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: Sistema de som premium
        Conectividade: Conexão Bluetooth, sistema de navegação integrado<br><br>
        Segurança:

        Airbags: Airbags frontais
        Assistência ao Motorista: Controle de tração, controle de estabilidade, sistema de monitoramento de pressão dos pneus</div><br><br>

     <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
     </div><br><br>

      <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}