{% extends 'base.html' %}
{% block conteudo %}

    <img src="{{url_for('static',filename='imagens/rs6 2.png')}}"  class="rounded mx-auto d-block" alt="...">



  <div class="container text-center" style="margin-top: 20vh;">
    <h1>Audi RS6 Avant R$: 1,175 milhão</h1><br><br>
    <div>Motor:

        Tipo: V8 biturbo de alta performance
        Capacidade: 3.996 cm³
        Configuração do Motor: 90 graus, montado longitudinalmente
        Diâmetro x Curso: 84,5 mm x 89 mm
        Taxa de Compressão: 10,1:1
        Potência Máxima: 600 cavalos de potência (441 kW) a 6.000-6.500 rpm
        Torque Máximo: 800 Nm entre 2.050-4.500 rpm
        Sistema de Injeção: Injeção direta de combustível com injeção dupla (injeção direta e indireta)
        Sistema de Admissão: Turboalimentação twin-scroll com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática Tiptronic de 8 velocidades com função de troca de marchas manual
        Tração: Integral Quattro permanente com diferencial central mecânico e distribuição de torque ativa<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo McPherson, com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Suspensão Traseira: Suspensão multilink com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Estabilidade: Controle de estabilidade eletrônico ESC com modo Sport e desativação total
        Direção: Direção assistida eletromecânica progressiva com relação variável<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de composto cerâmico de carbono de 420 mm com pinças fixas de seis pistões RS
        Freios Traseiros: Discos de freio ventilados de composto cerâmico de carbono de 370 mm com pinças flutuantes de pistão único RS
        Sistema de Freio: Sistema antibloqueio de freio (ABS) com distribuição eletrônica de frenagem (EBD) e
         assistência de frenagem de emergência (EBA)<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 21 polegadas, design específico RS, com acabamento em preto brilhante e logotipo RS estampado
        Pneus: Pneus de alta performance de 285/30 R21, adequados para todas as condições climáticas<br><br>
        Dimensões:

        Comprimento: 4.990 mm
        Largura: 1.951 mm (sem espelhos retrovisores)
        Altura: 1.472 mm
        Entre Eixos: 2.930 mm
        Peso: 2.075 kg (aproximadamente)
        Distribuição de Peso: 55% na frente e 45% na traseira<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 565 litros, expansível para 1.680 litros com os bancos traseiros rebatidos
        Capacidade do Tanque de Combustível: 75 litros
        Capacidade de Reboque: 2.100 kg (com reboque freio)<br><br>
        Interior:

        Capacidade: 5 passageiros
        Bancos: Bancos esportivos RS com ajustes elétricos, memória e função de massagem, revestidos em couro Valcona RS com costuras contrastantes
        Volante: Volante esportivo multifuncional em couro com marca RS, aquecimento e shift paddles<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: MMI Navigation Plus com tela sensível ao toque de 10,1 polegadas, MMI Touch, Audi Virtual Cockpit Plus de 12,3 polegadas
        Sistema de Áudio: Sistema de som Bang & Olufsen 3D Advanced Sound System com 19 alto-falantes e subwoofer de 16 canais, potência total de saída de 1.820 watts
        Conectividade: Apple CarPlay sem fio, Android Auto, Audi connect com serviços online<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para todos os ocupantes, airbags de joelhos para o motorista
        Assistência ao Motorista: Assistência de tráfego cruzado traseiro, assistência de pré-colisão, assistência de saída de faixa, sistema de monitoramento de ponto cego Audi side assist, assistência de estacionamento plus com câmera 360 graus</div><br><br>

        <div class="d-grid gap-2 col-2 mx-auto">
           <a  class="btn btn-outline-secondary">Comprar</a>
        </div><br><br>


      <div class="d-grid gap-2 col-2 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}