{% extends 'base.html' %}
{% block conteudo %}
 <img src="{{url_for('static',filename='imagens/Audi TT.png')}}"  width="700" height="450" class="rounded mx-auto d-block" alt="...">

  <div class="container text-center" style="margin-top: 20vh;">
    <h1>Audi TT R$: 400 mil</h1><br><br>
    <div>Motor:

        Tipo: Quatro cilindros em linha TFSI
        Capacidade: 1.984 cm³
        Configuração do Motor: 180 graus, montado transversalmente
        Potência Máxima: 245 cavalos de potência (180 kW) a 4.500-6.500 rpm
        Torque Máximo: 370 Nm entre 1.600-4.300 rpm
        Sistema de Injeção: Injeção direta de combustível com injeção indireta
        Sistema de Admissão: Turboalimentação single-scroll com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática S tronic de 7 velocidades com dupla embreagem
        Tração: Integral quattro permanente com diferencial central autoblocante<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo McPherson, com molas helicoidais e amortecedores a gás
        Suspensão Traseira: Suspensão independente multilink, com molas helicoidais e amortecedores a gás
        Estabilidade: Controle eletrônico de estabilidade ESC com bloqueio eletrônico do diferencial EDS e controle de tração ASR<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de 340 mm, pinças de alumínio de pistão flutuante
        Freios Traseiros: Discos de freio ventilados de 310 mm, pinças de alumínio de pistão flutuante
        Sistema de Freio: Sistema antibloqueio de freio (ABS), distribuição eletrônica de frenagem (EBD), assistência de frenagem de emergência (EBA)<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 18 polegadas, design específico Audi Sport, acabamento em preto brilhante
        Pneus: Pneus de alta performance 245/40 R18, adequados para todas as condições climáticas<br><br>
        Dimensões:

        Comprimento: 4.191 mm
        Largura: 1.832 mm (com espelhos retrovisores)
        Altura: 1.353 mm
        Entre Eixos: 2.505 mm
        Peso: 1.390 kg (aproximadamente)<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 305 litros
        Capacidade do Tanque de Combustível: 55 litros<br><br>
        Interior:

        Capacidade: 4 passageiros
        Bancos: Bancos esportivos S line com ajustes elétricos e revestimento em couro Alcântara
        Volante: Volante esportivo multifuncional em couro com marca S line e shift paddles<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: MMI Navigation Plus com MMI touch, Audi Virtual Cockpit de 12,3 polegadas
        Sistema de Áudio: Sistema de som Bang & Olufsen com 14 alto-falantes e potência total de saída de 680 watts
        Conectividade: Apple CarPlay, Android Auto, Audi connect com serviços online e hotspot Wi-Fi<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para todos os ocupantes
        Assistência ao Motorista: Assistência de frenagem de emergência, assistente de permanência em faixa, assistente de estacionamento, câmera de visão traseira</div><br><br>

      <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
      </div><br><br>

      <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}