{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/BMW M3.png')}}" width="700" height="450" class="rounded mx-auto d-block" alt="...">


<div class="container text-center" style="margin-top: 20vh;">
    <h1>BMW M3 Competition R$: 1,250 milhão</h1><br><br>
    <div>Motor:

        Tipo: Seis cilindros em linha M TwinPower Turbo
        Capacidade: 2.993 cm³
        Configuração do Motor: 90 graus, montado longitudinalmente
        Diâmetro x Curso: 84 mm x 89,6 mm
        Taxa de Compressão: 9,3:1
        Potência Máxima: 510 cavalos de potência (375 kW) a 6.250 rpm
        Torque Máximo: 650 Nm entre 2.750-5.500 rpm
        Sistema de Injeção: Injeção direta de combustível com injeção dupla (injeção direta e indireta)
        Sistema de Admissão: Turboalimentação twin-scroll com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática M Steptronic de 8 velocidades com Drivelogic, função de troca de marchas manual e alavanca seletora M
        Tração: Integral M xDrive com diferencial M ativo e distribuição de torque variável<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo MacPherson, com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Suspensão Traseira: Suspensão multilink com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Estabilidade: Controle de estabilidade eletrônico DSC com M Dynamic Mode e desativação total
        Direção: Direção assistida eletromecânica M Servotronic com relação variável<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 400 mm com pinças fixas de seis pistões M
        Freios Traseiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 380 mm com pinças flutuantes de pistão único M
        Sistema de Freio: Sistema antibloqueio de freio (ABS) com distribuição eletrônica de frenagem (EBD) e assistência de frenagem de emergência (EBA)<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 19 polegadas na frente e 20 polegadas atrás, design específico M, com acabamento em preto brilhante e logotipo M estampado
        Pneus: Pneus de alta performance de 275/35 R19 na frente e 285/30 R20 atrás, adequados para todas as condições climáticas<br><br>
        Dimensões:

        Comprimento: 4.794 mm
        Largura: 1.900 mm (sem espelhos retrovisores)
        Altura: 1.435 mm
        Entre Eixos: 2.829 mm
        Peso: 1.730 kg (aproximadamente)
        Distribuição de Peso: 51% na frente e 49% na traseira<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 480 litros
        Capacidade do Tanque de Combustível: 59 litros
        Capacidade de Reboque: Não recomendado para reboque<br><br>
        Interior:

        Capacidade: 5 passageiros
        Bancos: Bancos esportivos M com ajustes elétricos, memória e função de massagem, revestidos em couro Merino com costuras contrastantes
        Volante: Volante esportivo multifuncional M em couro com marca M, aquecimento e shift paddles<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: BMW Live Cockpit Professional com tela sensível ao toque de 12,3 polegadas, BMW Intelligent Personal Assistant
        Sistema de Áudio: Sistema de som surround Harman Kardon com 16 alto-falantes e potência total de saída de 464 watts
        Conectividade: Apple CarPlay sem fio, Android Auto, BMW ConnectedDrive com serviços online e integração de smartphones<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para todos os ocupantes, airbags de joelhos para o motorista e passageiro dianteiro
        Assistência ao Motorista: Assistência de estacionamento Reversível, assistente de direção Active Driving Assistant Professional, assistente de manutenção de faixa Active Lane Keeping Assistant, assistente de colisão frontal com frenagem automática City Collision Mitigation, assistente de saída de faixa com aviso de saída de faixa, aviso de colisão traseira, controle de cruzeiro adaptativo com função Stop & Go, assistente de congestionamento, assistente de tráfego cruzado, sistema de alerta de saída de tráfego, controle de estacionamento com câmera 360 graus</div><br><br>

    <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div><br><br>

    <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}