{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/i8.png')}}"  class="rounded mx-auto d-block" alt="...">




<div class="container text-center" style="margin-top: 20vh;">
    <h1>BMW i8 R$: 1,650 milhão</h1><br><br>
    <div>Motor:

        Tipo: Três cilindros em linha TwinPower Turbo com motor elétrico
        Capacidade: 1.499 cm³
        Configuração do Motor: 90 graus, montado longitudinalmente
        Diâmetro x Curso: 82 mm x 94,6 mm
        Taxa de Compressão: 9,5:1
        Potência Máxima: 374 cavalos de potência (275 kW) a 5.800 rpm
        Torque Máximo: 570 Nm entre 1.800-5.000 rpm
        Sistema de Injeção: Injeção direta de combustível com injeção dupla (injeção direta e indireta)
        Sistema de Admissão: Turboalimentação com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática Steptronic de 6 velocidades com função de troca de marchas manual e alavanca seletora
        Tração: Integral xDrive com diferencial central variável e distribuição de torque variável<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo duplo braço, com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Suspensão Traseira: Suspensão multilink com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento
        Estabilidade: Controle de estabilidade eletrônico DSC com função de controle de tração DTC e modo Sport
        Direção: Direção assistida eletromecânica M Servotronic com relação variável<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 330 mm com pinças fixas de quatro pistões
        Freios Traseiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 330 mm com pinças flutuantes de pistão único
        Sistema de Freio: Sistema antibloqueio de freio (ABS) com distribuição eletrônica de frenagem (EBD) e assistência de frenagem de emergência (EBA)<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 20 polegadas na frente e 20 polegadas atrás, design específico i, com acabamento em preto brilhante e logotipo i estampado
        Pneus: Pneus de baixa resistência ao rolamento de 215/45 R20 na frente e 245/40 R20 atrás, adequados para todas as condições climáticas<br><br>
        Dimensões:

        Comprimento: 4.689 mm
        Largura: 1.942 mm (sem espelhos retrovisores)
        Altura: 1.298 mm
        Entre Eixos: 2.799 mm
        Peso: 1.535 kg (aproximadamente)
        Distribuição de Peso: 48% na frente e 52% na traseira<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 154 litros
        Capacidade do Tanque de Combustível: 42 litros
        Capacidade da Bateria: 11,6 kWh<br><br>
        Interior:

        Capacidade: 2 passageiros
        Bancos: Bancos esportivos em couro com ajustes elétricos e aquecimento
        Volante: Volante esportivo multifuncional em couro com aquecimento e paddle shifters<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: BMW Live Cockpit Professional com tela sensível ao toque de 10,25 polegadas, sistema de navegação BMW Professional
        Sistema de Áudio: Sistema de som surround Harman Kardon com 12 alto-falantes e potência total de saída de 360 watts
        Conectividade: Apple CarPlay sem fio, BMW ConnectedDrive com serviços online e integração de smartphones<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para o motorista e passageiro
        Assistência ao Motorista: Assistente de estacionamento Reversível, assistente de colisão frontal com frenagem automática City Collision Mitigation, controle de cruzeiro adaptativo com função Stop & Go, assistente de congestionamento, assistente de tráfego cruzado traseiro, alerta de saída de faixa, aviso de colisão traseira, controle de estabilidade eletrônico DSC, controle de tração dinâmico DTC, controle dinâmico de frenagem DBC</div><br><br>

    <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div><br><br>

    <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}