{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/BMW M3.png')}}" class="rounded mx-auto d-block" alt="...">


<div class="container text-center" style="margin-top: 20vh;">
    <h1>BMW M3 Competition R$: 1,250 milhão</h1><br><br>
    <div>
      <h2>Motor:</h2>
      <ul>
        <li>Tipo: Seis cilindros em linha M TwinPower Turbo</li>
        <li>Capacidade: 2.993 cm³</li>
        <li>Configuração do Motor: 90 graus, montado longitudinalmente</li>
        <li>Diâmetro x Curso: 84 mm x 89,6 mm</li>
        <li>Taxa de Compressão: 9,3:1</li>
        <li>Potência Máxima: 510 cavalos de potência (375 kW) a 6.250 rpm</li>
        <li>Torque Máximo: 650 Nm entre 2.750-5.500 rpm</li>
        <li>Sistema de Injeção: Injeção direta de combustível com injeção dupla (injeção direta e indireta)</li>
        <li>Sistema de Admissão: Turboalimentação twin-scroll com intercooler ar-ar</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Transmissão:</h2>
      <ul>
        <li>Transmissão: Automática M Steptronic de 8 velocidades com Drivelogic, função de troca de marchas manual e alavanca seletora M</li>
        <li>Tração: Integral M xDrive com diferencial M ativo e distribuição de torque variável</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Chassis e Suspensão:</h2>
      <ul>
        <li>Suspensão Dianteira: Independente, tipo MacPherson, com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento</li>
        <li>Suspensão Traseira: Suspensão multilink com molas helicoidais e amortecedores a gás adaptativos com controle eletrônico de amortecimento</li>
        <li>Estabilidade: Controle de estabilidade eletrônico DSC com M Dynamic Mode e desativação total</li>
        <li>Direção: Direção assistida eletromecânica M Servotronic com relação variável</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Freios:</h2>
      <ul>
        <li>Freios Dianteiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 400 mm com pinças fixas de seis pistões M</li>
        <li>Freios Traseiros: Discos de freio ventilados e perfurados de composto cerâmico de carbono de 380 mm com pinças flutuantes de pistão único M</li>
        <li>Sistema de Freio: Sistema antibloqueio de freio (ABS) com distribuição eletrônica de frenagem (EBD) e assistência de frenagem de emergência (EBA)</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Rodas e Pneus:</h2>
      <ul>
        <li>Rodas: Rodas de liga leve de 19 polegadas na frente e 20 polegadas atrás, design específico M, com acabamento em preto brilhante e logotipo M estampado</li>
        <li>Pneus: Pneus de alta performance de 275/35 R19 na frente e 285/30 R20 atrás, adequados para todas as condições climáticas</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Dimensões:</h2>
      <ul>
        <li>Comprimento: 4.794 mm</li>
        <li>Largura: 1.900 mm (sem espelhos retrovisores)</li>
        <li>Altura: 1.435 mm</li>
        <li>Entre Eixos: 2.829 mm</li>
        <li>Peso: 1.730 kg (aproximadamente)</li>
        <li>Distribuição de Peso: 51% na frente e 49% na traseira</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Capacidades:</h2>
      <ul>
        <li>Capacidade do Porta-Malas: 480 litros</li>
        <li>Capacidade do Tanque de Combustível: 59 litros</li>
        <li>Capacidade de Reboque: Não recomendado para reboque</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Interior:</h2>
      <ul>
        <li>Capacidade: 5 passageiros</li>
        <li>Bancos: Bancos esportivos M com ajustes elétricos, memória e função de massagem, revestidos em couro Merino com costuras contrastantes</li>
        <li>Volante: Volante esportivo multifuncional M em couro com marca M, aquecimento e shift paddles</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Tecnologia e Conectividade:</h2>
      <ul>
        <li>Sistema de Entretenimento: BMW Live Cockpit Professional com tela sensível ao toque de 12,3 polegadas, BMW Intelligent Personal Assistant</li>
        <li>Sistema de Áudio: Sistema de som surround Harman Kardon com 16 alto-falantes e potência total de saída de 464 watts</li>
        <li>Conectividade: Apple CarPlay sem fio, Android Auto, BMW ConnectedDrive com serviços online e integração de smartphones</li>
      </ul>
    </div><br><br>

    <div>
      <h2>Segurança:</h2>
      <ul>
        <li>Airbags: Airbags frontais, laterais e de cortina para todos os ocupantes, airbags de joelhos para o motorista e passageiro dianteiro</li>
        <li>        Assistência ao Motorista: Assistência de estacionamento Reversível, assistente de direção Active Driving Assistant Professional, assistente de manutenção de faixa Active Lane Keeping Assistant, assistente de colisão frontal com frenagem automática City Collision Mitigation, assistente de saída de faixa com aviso de saída de faixa, aviso de colisão traseira, controle de cruzeiro adaptativo com função Stop & Go, assistente de congestionamento, assistente de tráfego cruzado, sistema de alerta de saída de tráfego, controle de estacionamento com câmera 360 graus
      </ul>
    </div><br><br>

    <div class="d-grid gap-2 col-2 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div><br><br>

    <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}
