{% extends 'base.html' %}
{% block conteudo %}

 <img src="{{url_for('static',filename='imagens/x6 m.png')}}" width="700" height="450" class="rounded mx-auto d-block" alt="...">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div>

<div class="container text-center" style="margin-top: 20vh;">
    <h1>BMW X6 M Competition R$: 1,550 milhão</h1><br><br>
    <div>Motor:

        Tipo: V8 biturbo de alta performance
        Capacidade: 4.395 cm³
        Configuração do Motor: 90 graus, montado longitudinalmente
        Diâmetro x Curso: 89 mm x 88,3 mm
        Taxa de Compressão: 10,0:1
        Potência Máxima: 625 cavalos de potência (460 kW) a 6.000 rpm
        Torque Máximo: 750 Nm entre 1.800-5.860 rpm
        Sistema de Injeção: Injeção direta de combustível com injeção dupla (injeção direta e indireta)
        Sistema de Admissão: Turboalimentação twin-scroll com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática Steptronic de 8 velocidades com Drivelogic, função de troca de marchas manual e alavanca seletora M
        Tração: Integral M xDrive com diferencial M ativo e distribuição de torque variável<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Suspensão dianteira de duplo braço e amortecedores M adaptativos
        Suspensão Traseira: Suspensão traseira de duplo braço e amortecedores M adaptativos
        Estabilidade: Controle de estabilidade eletrônico (ESC) com modos M Dynamic e desativação total
        Direção: Direção esportiva Servotronic M com relação variável<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de composto de carbono-cerâmica de 395 mm de diâmetro com pinças fixas de seis pistões M
        Freios Traseiros: Discos de freio ventilados de composto de carbono-cerâmica de 380 mm de diâmetro com pinças flutuantes de pistão único M
        Sistema de Freio: Sistema antibloqueio de freio (ABS) com distribuição eletrônica de frenagem (EBD) e assistência de frenagem de emergência (EBA)<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve M de 21 polegadas, design específico M, com acabamento em preto brilhante e logotipo M estampado
        Pneus: Pneus de alto desempenho de 295/35 R21, adequados para todas as condições climáticas<br><br>
        Dimensões:

        Comprimento: 4.992 mm
        Largura: 2.004 mm (sem espelhos retrovisores)
        Altura: 1.759 mm
        Entre Eixos: 2.975 mm
        Peso: 2.395 kg (aproximadamente)
        Distribuição de Peso: 51,7% na frente e 48,3% na traseira<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 580 litros, expansível para 1.530 litros com os bancos traseiros rebatidos
        Capacidade do Tanque de Combustível: 83 litros
        Capacidade de Reboque: 3.500 kg (com reboque freio)<br><br>
        Interior:

        Capacidade: 5 passageiros
        Bancos: Bancos esportivos M com ajustes elétricos, memória e função de massagem, revestidos em couro Merino com costuras contrastantes
        Volante: Volante esportivo multifuncional M em couro com marca M, aquecimento e shift paddles<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: BMW Live Cockpit Professional com tela sensível ao toque de 12,3 polegadas, BMW Intelligent Personal Assistant
        Sistema de Áudio: Sistema de som surround Harman Kardon com 16 alto-falantes e potência total de saída de 464 watts
        Conectividade: Apple CarPlay sem fio, Android Auto, BMW ConnectedDrive com serviços online e integração de smartphones<br><br>
        Segurança:

        Airbags: Airbags frontais, laterais e de cortina para todos os ocupantes, airbags de joelhos para o motorista e passageiro dianteiro
        Assistência ao Motorista: Assistência de estacionamento Reversível, assistente de direção Active Driving Assistant Professional, assistente de manutenção de faixa Active Lane Keeping Assistant, assistente de colisão frontal com frenagem automática City Collision Mitigation, assistente de saída de faixa com aviso de saída de faixa, aviso de colisão traseira, controle de cruzeiro adaptativo com função Stop & Go, assistente de congestionamento, assistente de tráfego cruzado, sistema de alerta de saída de tráfego, controle de estacionamento com câmera 360 graus</div><br><br>
      <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}