{% extends 'base.html' %}
{% block conteudo %}
 <img src="{{url_for('static',filename='imagens/Bugatti Chiron SS 300+.png')}}" width="700" height="450" class="rounded mx-auto d-block" alt="...">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a  class="btn btn-outline-secondary">Comprar</a>
    </div>

  <div class="container text-center" style="margin-top: 20vh;">
    <h1>Bugatti Chiron SS 300+ R$: 20 milhões</h1><br><br>
    <div>Motor:

        Tipo: W16 quad-turbo
        Capacidade: 7.993 cm³
        Potência Máxima: 1.600 cavalos de potência (1.176 kW) a 7.000 rpm
        Torque Máximo: 1.600 Nm entre 2.000-7.000 rpm
        Sistema de Injeção: Injeção direta de combustível
        Sistema de Admissão: Turboalimentação com intercooler ar-ar<br><br>

        Transmissão:

        Transmissão: Automática de 7 velocidades com embreagem de dupla embreagem e paddle-shift
        Tração: Integral<br><br>

        Chassis e Suspensão:

        Suspensão Dianteira: Independente, tipo triângulo duplo, com molas helicoidais e amortecedores adaptativos
        Suspensão Traseira: Independente, tipo triângulo duplo, com molas helicoidais e amortecedores adaptativos
        Estabilidade: Controle de estabilidade eletrônico
        Direção: Direção assistida elétrica<br><br>
        Freios:

        Freios Dianteiros: Discos de freio ventilados de composto cerâmico de carbono de 420 mm com pinças de oito pistões
        Freios Traseiros: Discos de freio ventilados de composto cerâmico de carbono de 400 mm com pinças de seis pistões<br><br>
        Rodas e Pneus:

        Rodas: Rodas de liga leve de 20 polegadas na frente e 21 polegadas atrás, design específico Bugatti
        Pneus: Pneus de alta performance<br><br>
        Dimensões:

        Comprimento: 4.544 mm
        Largura: 2.038 mm
        Altura: 1.212 mm
        Entre Eixos: 2.711 mm
        Peso: 1.996 kg (aproximadamente)<br><br>
        Capacidades:

        Capacidade do Porta-Malas: 44 litros
        Capacidade do Tanque de Combustível: 100 litros<br><br>
        Interior:

        Capacidade: 2 passageiros
        Bancos: Bancos esportivos com revestimento em couro de alta qualidade
        Volante: Volante esportivo multifuncional em couro com paddle-shift<br><br>
        Tecnologia e Conectividade:

        Sistema de Entretenimento: Sistema de áudio premium com conectividade Bluetooth e controle por voz
        Conectividade: Navegação GPS, integração de smartphone<br><br>
        Segurança:

        Airbags: Airbags frontais e laterais
        Assistência ao Motorista: Controle de tração, controle de estabilidade, assistente de frenagem de emergência</div><br><br>
      <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/comprar" class="btn btn-outline-secondary">Voltar</a>
      </div>
  </div>
{% endblock %}