{% extends 'base.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="form-container">
        <p class="title">ADM</p>
        <form method="post" action="/loginAdm">
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" name="usuario" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" name="senha" id="password" placeholder="">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Esqueceu a Senha?</a>
                </div>
            </div>
            <button type="submit" class="sign">Entrar</button>
            {% if error %}
                <div class="error-message">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

        </form>
        <div class="social-message">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <p class="signup">Não tem uma conta?
            <a rel="noopener noreferrer" href="/cadastro" class="">Cadastrar</a>
        </p>
    </div>
</div>
{% endblock %}